nav
{
    background-color: navy;
    height: 50px;

}

header
{
    height: 450px;
}

section , article
{
    position: relative;
    text-align: center;
    width: 100%;
}


.fl
{
    float: left;
}

.verde
{
    background-color: greenyellow;
}

/* header section */

.img
{
    display: flex;
    justify-content: center;
}

.testo
{
    text-align: center;
}

/* Main Article */
.blocchi
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blocco
{
    height: 200px;
    background-color: red;
    margin: 20px;
    
}

/* main section */

main section
{
    flex-direction: column;
    flex-wrap: wrap;
}

/* main article */
 footer section
 {
     background-color: blue;
     height: 300px;
 }

 footer nav
 {
     background-color: cornflowerblue;
     height: 100px;
 }

 input
 {
     margin-left: 20px;
 }


